/* В этом файле переопределяются базовые стили и поведение страницы и глобальные тэги */

@font-face {
	font-family: 'NotoSans';
	src: url('/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSans';
	font-style: italic;
	src: url('/fonts/NotoSans-Italic.ttf');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	src: url('/fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'NotoSans';
	font-weight: 700;
	font-style: italic;
	src: url('/fonts/NotoSans-BoldItalic.ttf');
}

body {
	background: #2a2a2a !important;
	font-family: 'NotoSans', sans-serif;
	color: #ffffff;
}

html {
	position: relative;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none !important;
	transition: 0.2s;
	color: inherit;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #ffffffa5;
}

h2 {
	font-family: 'TexturinaVariable';
	font-variation-settings: "wght" 800;
}

p {
	margin: 0;
}
