@font-face{
  /* Texturina varible */
  font-family: 'TexturinaVariable';
  src: url('../fonts/Texturina-VariableFont_opsz\,wght.ttf');
}
@font-face{
  /* Texturina varible italic */
  font-family: 'TexturinaItalicVarible';
  src: url('../fonts/Texturina-Italic-VariableFont_opsz\,wght.ttf');
}
body {
  background: #000 !important; 
  font-family: 'Noto Sans', sans-serif;
  /*font-family: 'Texturina', serif;*/
}

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
  
  }


.navbar {
    color: #fff;
    background:#000;
}
.nav-link{
    margin-top:2.9rem ;
    color: #fff;
}
.nav-link:hover {
      transition: .3s;
      color: red;
}
.h1_unicorn-witnesses{
  font-size: 1.7em;
}
.names-team{
  font-size:1.5em;
  font-family: 'TexturinaItalicVarible';
}
.Our-team{
  font-family: 'TexturinaVariable';
  font-variation-settings: "wght" 900;
}
a.link-teammate{
  color: #fff;
  text-decoration: underline;
}
a.link-teammate:hover{
    color: #bdb8c0;
    transition: .3s;
}

/*Section Team*/
.Aleksey-skills{
  font-size: 1.2em;
  color: #ff3d00;
}
.Dmitriy-skills{
  font-size: 1.2em;
  color: #feda00;
}
.Olia-skills{
  font-size: 1.2em;
  color: #00eb86;
}
.Maxim-skills{
  font-size: 1.2em;
  color: #7536fc;
}
.who-we-are{
  font-family: 'TexturinaVariable';
  font-variation-settings: "wght" 800;
}

.lines-pt2{
  opacity: .2;
  margin-left: 7.58rem;
  margin-top: -0.06rem;
  min-width: 100%;
  min-height: 100%;
}
