@font-face{
  /* Texturina varible */
  font-family: 'TexturinaVariable';
  src: url('../fonts/Texturina-VariableFont_opsz\,wght.ttf');
}
@font-face{
  /* Texturina varible italic */
  font-family: 'TexturinaItalicVarible';
  src: url('../fonts/Texturina-Italic-VariableFont_opsz\,wght.ttf');
}
body {
  background: #000 !important; 
  font-family: 'Noto Sans', sans-serif;
  /*font-family: 'Texturina', serif;*/
}

html {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none !important;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
  
  }
h2{
  font-family: 'TexturinaVariable';
  font-variation-settings: "wght" 800;
}

.navbar {
    color: #fff;
    background:#000;
}
.nav-link{
    margin-top:2.9rem ;
    color: #fff;
}
.nav-link:hover {
      transition: .3s;
      color: red;
}
.h1_unicorn-witnesses{
  font-size: 1.7em;
}
.names-team{
  font-family: 'TexturinaItalicVarible';
  font-size: 1.3em;
}
.Our-team{
  font-family: 'TexturinaVariable';
  font-variation-settings: "wght" 900;
}
a.link-teammate{
  color: #fff;
  text-decoration: underline;
}
a.link-teammate:hover{
    color: #bdb8c0;
    transition: .3s;
}

/*Section Team*/

.Aleksey-skills{
  font-size: 1.2em;
  color: #ff3d00;
}
.Dmitriy-skills{
  font-size: 1.2em;
  color: #feda00;
}
.Olia-skills{
  font-size: 1.2em;
  color: #00eb86;
}
.Maxim-skills{
  font-size: 1.2em;
  color: #7536fc;
}
.rainbow-part-1{
  position: relative;
  z-index: 100;
}
.rainbow-part-2{
  margin-top: -.05rem;
  opacity: .2;
  position: relative;
  z-index: 5;
  margin-left:6rem ;
}
.rainbow-part-3{
  margin-top: -.09rem;
  margin-left: 41rem;
  position: relative;
  z-index:20 ;
}  

/*Section Own Product*/

.about-product{
  position: relative;
  margin-top: -35rem;
  z-index: 30;
}
.own-product-info{
  color:#00eb86 ;
}
a.link-to-muteit{
  font-family: 'TexturinaItalicVarible';
  color: #fff;
}
  a.link-to-muteit:hover{
    transition: .3s;
    color: #bdb8c0;
  }

  /*Section We and Our Services*/

  .what-we-are-provide{
    line-height: .5;
    color:#feda00;
  }
  .our-services{
    border: solid 2px rgba(0, 235, 134, 0.5);
  }
  .knowledge-base{
    color:#7536fc;
  }